.calcButtons {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  border: 1px solid grey;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-weight: bold;
}

.clear {
  font-weight: normal;
  color: black;
  background-color: white;
}

.seventyFive {
  width: 75%;
}

.twentyFive {
  width: 25%;
}
